.bgcontainer {
  width: 100%;
  height: 40vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bgcontainer video {
  width: 100%;
  height: 40vh;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: 1;
}
.video-text {
  color: #000000;
  z-index: 2;
}

.effect {
  width: 100%;
  height: 40vh;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: 2;
  background: linear-gradient(
    90deg,
    #2525255d 10%,
    #142eac5d 50%,
    #2525255d 90%
  );
}
