@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

body {
  background: linear-gradient(90deg, #252525 2%, #142eac 50%, #252525 98%);
  font-family: Poppins, serif;
}

p {
  color: rgb(197, 196, 196);
  text-decoration: none;
}
.nav-link {
  color: rgb(95, 95, 95);
}

.navbar-nav .nav-link.active {
  color: rgb(197, 196, 196);
}
.navbar-brand img {
  width: 40px;
}
.navbar-toggler {
  background-color: rgb(30, 29, 29);
}
.sidebar {
  color: rgb(197, 196, 196);
  background: linear-gradient(90deg, #142eac 0.1%, #252525 90%);
}
.card,
.btn-outline {
  background: linear-gradient(90deg, #252525 10%, #142eac 50%, #252525 90%);
  color: rgb(197, 196, 196);
}
.card a {
  text-decoration: none;
  color: rgb(197, 196, 196);
}
.slide-text,
.footer-text {
  color: rgb(197, 196, 196);
  margin: auto auto;
}
footer {
  background-color: #252525;
}
.media-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.help a {
  color: rgb(197, 196, 196);
  text-decoration: none;
}

.call-anim {
  animation: MyAnim 2s ease 0s infinite normal forwards;
}
@keyframes MyAnim {
  0%,
  100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }

  15% {
    transform: translateX(-30px) rotate(-6deg);
  }

  30% {
    transform: translateX(15px) rotate(6deg);
  }

  45% {
    transform: translateX(-15px) rotate(-3.6deg);
  }

  60% {
    transform: translateX(9px) rotate(2.4deg);
  }

  75% {
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
@media (max-width: 755px) {
  .carousel-indicators {
    display: none;
  }
}
