span {
  font-style: italic;
}
/* content */
.list-container {
  display: inline-block;
  border-style: solid;
  border-width: 0.5px;
  padding-right: 20px;
}
.list-container>p {
  text-align: center;
  font-weight: bold;
}


.img-container {
  border: solid;
  border-width: 0.5px;
  border-color: rgb(49, 49, 182);
  float: right;
  padding: 20px;
  margin-left: 20px;
  
}
.text-html-img {
  width: 300px;
}
.HTML-logo {
  width: 100px;
  height: 100px;
}

.img-container>div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* top navigation panel */
.top-navigation {
  display: flex;
  justify-content: space-between;
  background-color: rgb(165, 165, 246);
  

}
.top-navigation>nav>ul {
display: flex;
list-style: none;
margin: 0px;
padding: 0px;
align-items: center;
}
.top-navigation>nav>ul>li>a {
  display: block;
  padding: 10px;
  border-style: solid;
  border-width: 0.5px;
  border-color: rgb(0, 0, 0)
}
body {
  margin: 0px;
  padding: 0px;
}



@media (max-width: 900px) {
  .top-navigation {
    flex-direction: column;
  }
}

.page {
  display: flex;
  justify-content: center;
}

.left-navigation {
  width: 14%;
  background-color: rgb(127, 244, 255);

}
.section {
  width: 82%;

}
.main {
  padding-left: 10px;
}
.left-navigation>ol {
  list-style: none;
  border-bottom-style: solid;
  border-width: 0.5px;
  margin: 10px;
  padding: 0px;
  padding-bottom: 10px;
}
.left-navigation>div {
  width: 100%;

}
.left-navigation>div>img {
  width: 100%;
}
